<div class="dialog-container">
  <h1 mat-dialog-title>Cadastrar Nova Tarefa</h1>
  <div mat-dialog-content>
    <form #tarefaForm="ngForm">
      <!-- Campo Nome -->
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="novaTarefa.nome" name="nome" required />
        <mat-error *ngIf="tarefaForm.controls['nome']?.invalid && tarefaForm.controls['nome']?.touched">
          O nome é obrigatório.
        </mat-error>
      </mat-form-field>

      <!-- Campo Prioridade -->
      <mat-form-field appearance="fill">
        <mat-label>Prioridade</mat-label>
        <mat-select [(ngModel)]="novaTarefa.prioridade" name="prioridade" required>
          <mat-option value="BAIXA">Baixa</mat-option>
          <mat-option value="MEDIA">Média</mat-option>
          <mat-option value="ALTA">Alta</mat-option>
        </mat-select>
        <mat-error *ngIf="tarefaForm.controls['prioridade']?.invalid && tarefaForm.controls['prioridade']?.touched">
          A prioridade é obrigatória.
        </mat-error>
      </mat-form-field>

      <!-- Campo Data Prevista de Conclusão -->
      <mat-form-field appearance="fill">
        <mat-label>Data Prevista de Conclusão</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="novaTarefa.dataPrevistaConclusao" name="dataPrevistaConclusao" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="tarefaForm.controls['dataPrevistaConclusao']?.invalid && tarefaForm.controls['dataPrevistaConclusao']?.touched">
          A data prevista de conclusão é obrigatória.
        </mat-error>
      </mat-form-field>

      <!-- Campo Descrição -->
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="novaTarefa.descricao" name="descricao"></textarea>
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-button color="primary" (click)="salvar(tarefaForm)" [disabled]="tarefaForm.invalid">Salvar</button>
      </div>
    </form>
  </div>
</div>
