/* Estilo para o container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #49515d;
  min-height: 100vh;
}

/* Estilo para o título */
h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilo para o componente de tarefas */
app-tarefas {
  width: 100%;
  max-width: 800px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}