@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body {
  margin: 0;
  background-color: #454545;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

mat-toolbar {
  background-color: #1e1e1e;
  color: #ffffff;
}

mat-card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
}

button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #38372f8a;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  &.custom-snackbar-error {
    --mdc-snackbar-container-color: #c51e1e;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.custom-snackbar-warning {
    --mdc-snackbar-container-color: #ddd121;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.custom-snackbar-success {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.custom-snackbar-concluido {
    --mdc-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.custom-snackbar-pendente {
    --mdc-snackbar-container-color: #ff9800;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

